<dom-module id="point-canvas">
    <template>
        <canvas id="can" style="background: black; width: 100vw; height: 100vh;">

        </canvas>
    </template>
    <script>
        Polymer({
            is:"point-canvas",

            properties:{
                dotAmount:{type:Number,value:100},
                pointSize:{type:Number,value:2},
                dotColor:{type:String,value:"white"},
                lineColor:{type:String,value:"white"},
                lineDistance:{type:Number,value:80},
                attraction:{type:Number,value:1000},
                backgroundColor:{type:String,value:"black"}
            },


            attached:function () {
                var self = this;
                var requestAnimFrame = (function(){
                    return  window.requestAnimationFrame       ||
                            window.webkitRequestAnimationFrame ||
                            window.mozRequestAnimationFrame    ||
                            window.oRequestAnimationFrame      ||
                            window.msRequestAnimationFrame     ||
                            function( callback ){
                                window.setTimeout(callback, 1000 / 60);
                            };
                })();

                var canvas = this.$.can;
                var ctx = canvas.getContext("2d");

                var W = window.innerWidth, H = window.innerHeight;
                canvas.width = W;
                canvas.height = H;

                var particleCount = self.dotAmount,
                        particles = [],
                        minDist = self.lineDistance;


                function paintCanvas() {

                    W = window.innerWidth; H = window.innerHeight;
                    //canvas.width = W;
                    //canvas.height = H;
                    ctx.fillStyle = self.backgroundColor;
                    ctx.fillRect(0,0,W,H);
                }



                function Particle() {
                    this.x = Math.random() * W;
                    this.y = Math.random() * H;

                    this.vx = -1 + Math.random() * 2;
                    this.vy = -1 + Math.random() * 2;

                    this.radius = self.pointSize;

                    this.draw = function() {
                        ctx.fillStyle = self.dotColor;
                        ctx.beginPath();
                        ctx.arc(this.x, this.y, this.radius, 0, Math.PI * 2, false);
                        ctx.fill();
                    }
                }


                for(var i = 0; i < particleCount; i++) {
                    particles.push(new Particle());
                }


                function draw() {
                    paintCanvas();


                    for (var i = 0; i < particles.length; i++) {
                        p = particles[i];
                        p.draw();
                    }
                    update();
                }


                function update() {


                    for (var i = 0; i < particles.length; i++) {
                        var p = particles[i];


                        p.x += p.vx;
                        p.y += p.vy;

                        if(p.x + p.radius > W){
                            p.x = p.radius;
                        }

                        else if(p.x - p.radius < 0) {
                            p.x = W - p.radius;
                        }

                        if(p.y + p.radius > H){
                            p.y = p.radius;
                        }

                        else if(p.y - p.radius < 0) {
                            p.y = H - p.radius;
                        }
                        async.each(particles,function (p2,callback) {
                            distance(p,p2);
                            callback
                        });

                        /*
                         for(var j = i + 1; j < particles.length; j++) {
                         var p2 = particles[j];
                         distance(p, p2);
                         }

                         */


                    }
                }

// Distance calculator between two particles
                function distance(p1, p2) {
                    var dist,
                            dx = p1.x - p2.x,
                            dy = p1.y - p2.y;
                    dist = Math.sqrt(dx*dx + dy*dy);
                    if(dist <= minDist) {
                        ctx.beginPath();
                        ctx.strokeStyle = "rgba(255,255,255,"+ (1.2-dist/minDist) +")";
                        ctx.moveTo(p1.x, p1.y);
                        ctx.lineTo(p2.x, p2.y);
                        ctx.stroke();
                        ctx.closePath();
                    }
                }
                var render = true;
                function animloop() {
                    if(render){
                        draw();
                    }
                   render = !render;
                    requestAnimFrame(animloop);
                }

                window.setTimeout(function () {
                    animloop();
                },2000);


            }




        });



    </script>



</dom-module>






