html, body{
    margin:none;
    background:transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 70vw;
    max-width: 500px;    
}

#boot{
    display: flex;
    flex-direction: column;
}

#boot *{
    transition: all 0.5s;
    text-align: center;
}
#boot .hidden{
    opacity: 0;
}
#boot img{
    width: 100%;
}



#loginState img{
    width: 100%;
}


#loginState form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#loginState paper-dropdown-menu{     width: 30%; min-width: 100px;}

#loginState div{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#loginState div *{
    margin: 0px 4px;
}

#loginState paper-button{
    --paper-button-ink-color: white;
    background-color: rgb(14, 14, 14);
    width: 70%;
    margin-top: 20px;
}



#CallView{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#CallView mate-card{
    margin: 5px;
}

point-canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    -webkit-filter: blur(3px) brightness(0.5);
}