html, body{
    margin:none;
    background:transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 70vw;
    max-width: 500px;    
}

#CallView{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#CallView mate-card{
    margin: 5px;
}

point-canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}